<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Wanted Poster</title>
</head>
<body>
    <main>
        <div class="poster">
            <h1>WANTED</h1>
            <p class="subheading">Alive for Questioning</p>
            <div class="mugshot" role="img" aria-label="mugshot-img"></div>
            <p class="name"><%= firstName %> <%= lastName %></p>
            <em>illegally catching lobsters without permit</em>
            <h1>Reward</h1>
            <u>$50.000</u>
        </div>
    </main>
<footer>Brought you to by Johnny Lieu</footer>
</body>
</html>